# Directories
TUtil/src/vendor/*

**/bin/
!vendor/bin/
**/bin-int/

#Visual Studio
**/.vs/
**/*.sln
**/*.vcxproj*

#VSCode
.vscode/
**/test/

#make
**/Makefile
**/.project
**/.workspace

#OSX
**/.DS_Store

#XCode
**/*.xcodeproj
**/*.xcworkspace

**/logs/

.cproject
.settings/

