[submodule "TUtil/vendor/str"]
	path = TUtil/vendor/str
	url = https://github.com/ocornut/str.git
[submodule "TUtil/vendor/libarchive"]
	path = TUtil/vendor/libarchive
	url = https://github.com/TroyNeubauer/libarchive.git
	branch = release
[submodule "vendor/premake/scripts"]
	path = vendor/premake/scripts
	url = https://github.com/TroyNeubauer/premake-emscriptenplatform.git
